body {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
#game-container{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid white;
    background-color: #222;
    border-radius: 10px;
}
img{
    width: 100%;
    border-radius: 10px;
}
.choice{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80px;
    font-size: 18px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
